@import compass
@import ../bower_components/susy/sass/susy
@import susy

$color: #f1c40f
$text: #fff

*
	font-family: Arial, Helvetica, sans-serif

div[class^= col-]
	+box-shadow( inset 0 0 0px 1px #fff, inset 0 0 0px 3px darken($color,6) )
	background: $color
	color: $text
	+text-shadow(1px 0 1px darken($color,15))

span
	display: block
	padding: 10px
	border-left: 1px solid #fff
	border-right: 1px solid #fff

h2
	&:before
		content: '>480px '

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max)
	h2
		&:before
			content: '>768px 481px< '

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
	h2
		&:before
			content: '>960px 769px< '

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max)
	h2
		&:before
			content: '>1200px 961px< '

@media screen and (min-width: $screen-lg-min)
	h2
		&:before
			content: '<1200px '